<p-card styleClass="upload-card">

    <div class="upload-zone" [class.dragging]="isDragging" (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">


        <i class="pi pi-cloud-upload upload-icon"></i>

        <h2 *ngIf="!isDragging">

            Drag & Drop Images Here

        </h2>

        <h2 *ngIf="isDragging">

            Drop Image Here

        </h2>

        <p *ngIf="!isDragging">

            JPG • PNG • JPEG • WEBP

        </p>

        <p *ngIf="isDragging">

            Release mouse to upload

        </p>

        <input #fileInput hidden type="file" accept="image/*" (change)="onFileSelected($event)">

        <p-button label="Browse Files" icon="pi pi-folder-open" (onClick)="fileInput.click()">

        </p-button>

    </div>

    <div class="preview" *ngIf="preview">

        <img [src]="preview">

        <h3>

            {{selectedFile?.name}}

        </h3>

        <div *ngIf="uploading">

            <h3>

                Uploading...

            </h3>

            <p>

                {{selectedFile?.name}}

            </p>

            <p-progressBar [value]="progress">
            </p-progressBar>

            <div class="upload-info">

                <div>

                    {{progress}}%

                </div>

                <div>

                    {{uploadedSize}}

                    /

                    {{totalSize}}

                </div>

            </div>

            <div class="upload-info">

                <div>

                    Remaining

                    {{remainingTime}}

                </div>

                <div>

                    {{uploadSpeed}}

                </div>

            </div>

        </div>

        <br>
        <p-button label="Upload Image" icon="pi pi-upload" (onClick)="upload()">

        </p-button>

    </div>

</p-card>