<p-card styleClass="image-card">

    <img [src]="image" class="image">

    <div class="footer">

        <p>

            {{image.split('/').pop()}}

        </p>

        <div class="buttons">
        
            <p-button icon="pi pi-eye" severity="secondary" rounded="true" (onClick)="view.emit(image)">
        
            </p-button>
        
            <p-button icon="pi pi-download" severity="success" rounded="true" (click)="download.emit(image)">
            </p-button>
        
            <p-button icon="pi pi-trash" severity="danger" rounded="true" (onClick)="delete.emit(image)">
        
            </p-button>
        
        </div>

    </div>

</p-card>