:host{

    display:block;

}

::ng-deep .navbar-card{

    background:#1E293B !important;

    border:1px solid #334155 !important;

    border-radius:18px !important;

}

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.left{

    display:flex;

    align-items:center;

    gap:18px;

}

.logo{

    width:65px;

    height:65px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:34px;

    background:#2563EB;

}

.left h2{

    margin:0;

}

.left p{

    color:#94A3B8;

    margin-top:5px;

}

.right{

    display:flex;

    gap:12px;

}