<p-card styleClass="navbar-card">

    <div class="navbar">

        <div class="left">

            <div class="logo">

                ☁️

            </div>

            <div>

                <h2>CloudVault</h2>

                <p>Secure Cloud Image Storage</p>

            </div>

        </div>

        <div class="right">

            <p-tag
                severity="success"
                value="Connected">
            </p-tag>

            <p-tag
                severity="info"
                [value]="version">
            </p-tag>

        </div>

    </div>

</p-card>