<div class="cloud-card">
    <h3>Personal Information</h3>

    <div class="stat-row">

        <div class="label">
            <i class="pi pi-database"></i>
            <span>Storage Used</span>
        </div>

        <div class="value">
            1.2 GB / 5 GB
        </div>

    </div>

    <p-progressBar
        [value]="24"
        [showValue]="false">
    </p-progressBar>

    <div class="stat-row">

        <div class="label">
            <i class="pi pi-images"></i>
            <span>Total Images</span>
        </div>

        <div class="value">
            248
        </div>

    </div>

    <div class="stat-row">

        <div class="label">
            <i class="pi pi-trash"></i>
            <span>Recycle Bin</span>
        </div>

        <div class="value">
            15
        </div>

    </div>

    <div class="stat-row">

        <div class="label">
            <i class="pi pi-cloud"></i>
            <span>Remaining Space</span>
        </div>

        <div class="value">
            3.8 GB
        </div>

    </div>

</div>