<div class="cloud-card">
    <h3>Personal Information</h3>

    <div class="info-row">

        <div class="label">
            <i class="pi pi-user"></i>
            <span>Full Name</span>
        </div>

        <div class="value">
            Sambidhan Senapati
        </div>

    </div>

    <div class="info-row">

        <div class="label">
            <i class="pi pi-envelope"></i>
            <span>Email</span>
        </div>

        <div class="value">
            sambidhangmail.com
        </div>

    </div>

    <div class="info-row">

        <div class="label">
            <i class="pi pi-phone"></i>
            <span>Phone</span>
        </div>

        <div class="value">
            +91 9876543210
        </div>

    </div>

    <div class="info-row">

        <div class="label">
            <i class="pi pi-calendar"></i>
            <span>Joined</span>
        </div>

        <div class="value">
            23 Jul 2026
        </div>

    </div>

</div>