<div class="sidebar">

    <!-- Logo -->
    <div class="logo">

        <div class="logo-icon">
            ☁️
        </div>

        <div>
            <h2>CloudVault</h2>
            <p>Secure Cloud Storage</p>
        </div>

    </div>

    <!-- Navigation -->
    <nav class="menu">

        <a routerLink="/home"
           routerLinkActive="active">

            <i class="pi pi-home"></i>

            <span>Dashboard</span>

        </a>

        <a routerLink="/upload"
           routerLinkActive="active">

            <i class="pi pi-upload"></i>

            <span>Upload</span>

        </a>

        <a routerLink="/gallery"
           routerLinkActive="active">

            <i class="pi pi-images"></i>

            <span>Gallery</span>

        </a>

        <a routerLink="/recycle-bin"
           routerLinkActive="active">

            <i class="pi pi-trash"></i>

            <span>Recycle Bin</span>

        </a>

        <a routerLink="/profile"
           routerLinkActive="active">

            <i class="pi pi-trash"></i>

            <span>Profile</span>

        </a>

    </nav>

    <!-- Storage -->

    <div class="storage">

        <h4>Storage</h4>

        <div class="progress">

            <div class="progress-fill"></div>

        </div>

        <small>2.4 GB / 20 GB</small>

    </div>

</div>