<div class="sidebar" [class.collapsed]="collapsed">

    <!-- ================================
         BRAND
    ================================= -->

    <div class="logo">

        <div class="logo-left">

            <div class="logo-icon">
                <i class="pi pi-cloud"></i>
            </div>

            <div
                class="logo-text"
                [class.hide]="collapsed">

                <h2>CloudVault</h2>

                <p>Secure Cloud Storage</p>

            </div>

        </div>

    </div>


    <!-- ================================
         COLLAPSE BUTTON
    ================================= -->

    <button
        type="button"
        class="collapse-btn"
        (click)="toggleSidebar()"
        [attr.aria-label]="collapsed ? 'Expand sidebar' : 'Collapse sidebar'">

        <i
            class="pi"
            [ngClass]="collapsed
                ? 'pi-angle-right'
                : 'pi-angle-left'">
        </i>

    </button>


    <!-- ================================
         NAVIGATION
    ================================= -->

    <nav class="menu">


        <!-- Dashboard -->

        <a
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="menu-item">

            <span class="menu-icon">
                <i class="pi pi-home"></i>
            </span>

            <span
                class="menu-label"
                [class.hide]="collapsed">

                Dashboard

            </span>

        </a>


        <!-- Upload -->

        <a
            routerLink="/upload"
            routerLinkActive="active"
            class="menu-item">

            <span class="menu-icon">
                <i class="pi pi-upload"></i>
            </span>

            <span
                class="menu-label"
                [class.hide]="collapsed">

                Upload

            </span>

        </a>


        <!-- Gallery -->

        <a
            routerLink="/gallery"
            routerLinkActive="active"
            class="menu-item">

            <span class="menu-icon">
                <i class="pi pi-images"></i>
            </span>

            <span
                class="menu-label"
                [class.hide]="collapsed">

                Gallery

            </span>

        </a>


        <!-- ================================
             IMAGE STUDIO
        ================================= -->

        <div class="menu-group">


            <button
                type="button"
                class="menu-parent"
                [class.expanded]="imageStudioExpanded"
                (click)="toggleImageStudio()">


                <span class="menu-left">

                    <span class="menu-icon">

                        <i class="pi pi-sparkles"></i>

                    </span>


                    <span
                        class="menu-label"
                        [class.hide]="collapsed">

                        Image Studio

                    </span>

                </span>


                @if (!collapsed) {

                    <i
                        class="submenu-arrow pi"
                        [ngClass]="imageStudioExpanded
                            ? 'pi-chevron-down'
                            : 'pi-chevron-right'">
                    </i>

                }

            </button>


            @if (imageStudioExpanded && !collapsed) {

                <div class="submenu">


                    <a
                        routerLink="/collage"
                        routerLinkActive="active">

                        <span class="submenu-icon">
                            <i class="pi pi-th-large"></i>
                        </span>

                        <span>Collage Maker</span>

                    </a>


                    <a
                        routerLink="/compress"
                        routerLinkActive="active">

                        <span class="submenu-icon">
                            <i class="pi pi-compress"></i>
                        </span>

                        <span>Compress Image</span>

                    </a>


                    <a
                        routerLink="/background-remover"
                        routerLinkActive="active">

                        <span class="submenu-icon">
                            <i class="pi pi-eraser"></i>
                        </span>

                        <span>BG Remover</span>

                    </a>


                </div>

            }

        </div>


        <!-- Recycle Bin -->

        <a
            routerLink="/recycle-bin"
            routerLinkActive="active"
            class="menu-item">

            <span class="menu-icon">
                <i class="pi pi-trash"></i>
            </span>

            <span
                class="menu-label"
                [class.hide]="collapsed">

                Recycle Bin

            </span>

        </a>


    </nav>


    <!-- ================================
         STORAGE
    ================================= -->

    <div
        class="storage"
        [class.hide]="collapsed">


        <div class="storage-header">

            <div class="storage-title">

                <span class="storage-icon">

                    <i class="pi pi-cloud"></i>

                </span>

                <h4>Storage</h4>

            </div>

            <span class="storage-percent">
                12%
            </span>

        </div>


        <div class="progress">

            <div class="progress-fill"></div>

        </div>


        <div class="storage-footer">

            <span>2.4 GB used</span>

            <span>20 GB</span>

        </div>


    </div>

</div>