<p-card styleClass="image-card">

    <div class="image-container">

        <img [src]="image.imageUrl" class="image">
        <div class="image-overlay">

            <div class="overlay-buttons">
                @if (mode === 'gallery') {

                <p-button icon="pi pi-eye" severity="contrast" rounded="true" (click)="view.emit(image)">
                </p-button>

                <p-button icon="pi pi-download" severity="contrast" rounded="true" (click)="download.emit(image.key)">
                </p-button>

                <p-button icon="pi pi-trash" severity="danger" rounded="true" (click)="delete.emit(image.key)">
                </p-button>

                } @else {

                <p-button icon="pi pi-refresh" severity="success" rounded="true" (onClick)="restore.emit(image.id)">
                </p-button>

                <p-button icon="pi pi-times" severity="danger" rounded="true" (onClick)="deleteForever.emit(image.id)">
                </p-button>

                }
            </div>

        </div>

    </div>
    <div class="footer">

        <p class="file-name">

            {{ image.originalFileName }}

        </p>

        <span class="file-meta">

            {{ formatFileSize(image.fileSize) }}
            •
            {{ getTimeAgo(image.uploadedAt) }}

        </span>

    </div>

</p-card>