<div class="profile-header">

    <div class="profile-left">

        <div class="avatar" (mouseenter)="isHovering = true"
    (mouseleave)="isHovering = false">

            <div class="avatar-content">

                <img
    *ngIf="profile.profileImageUrl"
    [src]="profile.profileImageUrl"
    alt="Profile">

             <span *ngIf="!profile.profileImageUrl" class="initials">
    {{ profile.fullName.charAt(0) }}
</span>

            </div>

            <div class="avatar-overlay"  [class.show]="isHovering" (click)="fileInput.click()">

                <i class="pi pi-camera"></i>

            </div>

            <span class="verified-badge">

                <i class="pi pi-check"></i>

            </span>

        </div>

        <div class="profile-details">

            <h2>{{ profile.fullName }}</h2>

            <div class="profile-meta">

                <div>

                    <i class="pi pi-envelope"></i>

                    <span>{{ profile.email }}</span>

                </div>

                <div>

                    <i class="pi pi-calendar"></i>

                    <span>Joined {{ profile.joinedOn | date:'MMMM yyyy' }}</span>

                </div>

            </div>

        </div>

    </div>

    <button pButton icon="pi pi-pencil" label="Edit Profile" class="edit-btn" (click)="onEditProfile()">
    </button>

</div>

<input
    #fileInput
    type="file"
    accept="image/*"
    hidden
    (change)="onProfileImageSelected($event)">