<div class="page">

  <div class="upload-card">

    <h1>📷 Image Upload</h1>
    <p>Upload your images securely to AWS S3</p>

    <input type="file"
           accept="image/*"
           (change)="selectFile($event)">

    <div class="preview" *ngIf="preview">
      <img [src]="preview">
    </div>

    <button class="upload-btn"
            (click)="upload()">
      Upload Image
    </button>

  </div>

  <h2 class="gallery-title">Uploaded Images</h2>

  <div class="gallery">

      <div class="card"
           *ngFor="let image of images">

          <img [src]="image">

          <button class="delete-btn"
                  (click)="deleteImage(image)">
              Delete
          </button>

      </div>

  </div>

</div>