<p-card styleClass="navbar-card">

    <div class="navbar">

        <!-- Right Section -->
        <div class="right">

            <p-tag
                severity="success"
                value="Connected">
            </p-tag>

<p-tag
    severity="info"
    [value]="versionService.frontendInfo?.displayVersion">
</p-tag>

            <div class="user">

                <div class="avatar">
                   {{ user?.fullName?.charAt(0) }}
                </div>

                <div>

                    <h4><h4>{{ user?.fullName }}</h4></h4>

                    <small><small>{{ user?.email }}</small></small>

                </div>

            </div>

            <p-button
                icon="pi pi-sign-out"
                severity="danger"
                [rounded]="true"
                [text]="true"
                (onClick)="logout()">
            </p-button>

        </div>

    </div>

</p-card>