<p-card styleClass="navbar-card">

    <div class="navbar">

        <div class="navbar-left">

            <div class="workspace-indicator">

                <span class="connection-dot"></span>

                <div>
                    <strong>CloudVault</strong>
                    <small>Workspace</small>
                </div>

            </div>

        </div>


        <div class="right">

            <!-- Connection -->

            <div class="connection-status">

                <span class="status-dot"></span>

                <span>Connected</span>

            </div>


            <!-- Version -->

            <div class="version-badge">

                <i class="pi pi-code"></i>

                <span>
                    {{ versionService.frontendInfo?.displayVersion }}
                </span>

            </div>


            <!-- Notifications -->

            <div class="notification-wrapper">

                <app-notification-bell></app-notification-bell>

            </div>


            <!-- User -->

            <div
                class="user"
                (click)="userPopover.toggle($event)">

                <div class="avatar-wrapper">

                    <div class="avatar">

                        @if (user?.profileImageUrl) {

                            <img
                                [src]="user?.profileImageUrl"
                                [alt]="user?.fullName">

                        } @else {

                            {{ user?.fullName?.charAt(0) }}

                        }

                    </div>

                    <span class="user-online"></span>

                </div>


                <div class="user-info">

                    <h4>
                        {{ user?.fullName }}
                    </h4>

                    <small>
                        {{ user?.email }}
                    </small>

                </div>


                <i class="pi pi-chevron-down user-arrow"></i>

            </div>

        </div>

    </div>

</p-card>


<!-- =====================================================
     USER POPOVER
===================================================== -->

<p-popover #userPopover>

    <div class="user-menu">


        <!-- Header -->

        <div class="user-menu-header">

            <div class="popover-avatar-wrapper">

                <div class="avatar large">

                    @if (user?.profileImageUrl) {

                        <img
                            [src]="user?.profileImageUrl"
                            [alt]="user?.fullName">

                    } @else {

                        {{ user?.fullName?.charAt(0) }}

                    }

                </div>

                <span class="popover-online"></span>

            </div>


            <h3>
                {{ user?.fullName }}
            </h3>

            <p>
                {{ user?.email }}
            </p>

            <span class="account-badge">

                <i class="pi pi-check-circle"></i>

                Active account

            </span>

        </div>


        <!-- Menu -->

        <div class="user-menu-items">


            <button
                class="menu-item"
                (click)="goToProfile()">

                <span class="menu-icon blue">
                    <i class="pi pi-user"></i>
                </span>

                <span class="menu-text">

                    <strong>My Profile</strong>

                    <small>View your profile</small>

                </span>

                <i class="pi pi-angle-right menu-arrow"></i>

            </button>


            <button
                class="menu-item"
                (click)="goToSettings()">

                <span class="menu-icon violet">
                    <i class="pi pi-cog"></i>
                </span>

                <span class="menu-text">

                    <strong>Settings</strong>

                    <small>Manage preferences</small>

                </span>

                <i class="pi pi-angle-right menu-arrow"></i>

            </button>


            <button
                class="menu-item"
                (click)="goToSecurity()">

                <span class="menu-icon green">
                    <i class="pi pi-shield"></i>
                </span>

                <span class="menu-text">

                    <strong>Security</strong>

                    <small>Protect your account</small>

                </span>

                <i class="pi pi-angle-right menu-arrow"></i>

            </button>


            <button
                class="menu-item"
                (click)="goToSupportQueries()">

                <span class="menu-icon orange">
                    <i class="pi pi-comments"></i>
                </span>

                <span class="menu-text">

                    <strong>My Support Queries</strong>

                    <small>View submitted queries</small>

                </span>

                <i class="pi pi-angle-right menu-arrow"></i>

            </button>


            <button
                class="menu-item"
                (click)="goToHelp()">

                <span class="menu-icon cyan">
                    <i class="pi pi-question-circle"></i>
                </span>

                <span class="menu-text">

                    <strong>Help & Support</strong>

                    <small>Get help with CloudVault</small>

                </span>

                <i class="pi pi-angle-right menu-arrow"></i>

            </button>


            @if (isAdmin()) {

                <button
                    class="menu-item"
                    (click)="switchToAdmin()">

                    <span class="menu-icon admin">
                        <i class="pi pi-shield"></i>
                    </span>

                    <span class="menu-text">

                        <strong>Switch to Admin</strong>

                        <small>Open administration</small>

                    </span>

                    <i class="pi pi-angle-right menu-arrow"></i>

                </button>

            }


            <div class="menu-divider"></div>


            <!-- Logout -->

            <button
                class="menu-item logout"
                (click)="logout()">

                <span class="menu-icon logout-icon">

                    <i class="pi pi-sign-out"></i>

                </span>

                <span class="menu-text">

                    <strong>Logout</strong>

                    <small>Sign out of CloudVault</small>

                </span>

                <i class="pi pi-angle-right menu-arrow"></i>

            </button>

        </div>

    </div>

</p-popover>