:host{
    display:block;
}

.faq-card{

    background:var(--sidebar-bg);

    border:1px solid #334155;

    border-radius:16px;

    padding:24px;

}

.card-header{

    display:flex;

    align-items:center;

    gap:14px;

    margin-bottom:20px;

}

.card-header i{

    font-size:22px;

    color:#3B82F6;

}

.card-header h3{

    margin:0;

    color:white;

}

.card-header p{

    margin-top:4px;

    color:#94A3B8;

}

:host ::ng-deep .p-accordionpanel{

    background:#111827;

    border:1px solid #334155;

    border-radius:12px;

    margin-bottom:12px;

    overflow:hidden;

}

:host ::ng-deep .p-accordionheader{

    background:#111827;

    color:white;

}

:host ::ng-deep .p-accordioncontent{

    background:#111827;

    color:#CBD5E1;

}

:host ::ng-deep .p-accordionheader:hover{

    background:#1E293B;

}