<div class="help-grid">

    <div class="help-item">

        <div class="help-icon">
            <i class="pi pi-book"></i>
        </div>

        <div class="help-content">

            <h3>Documentation</h3>

            <p>
                Learn how to upload files, manage storage, and use CloudVault features.
            </p>

        </div>

        <button
            pButton
            type="button"
            icon="pi pi-arrow-right"
            severity="secondary"
            variant="text"
             (click)="goToDocumentation()">
        </button>

    </div>

    <div class="help-item">

        <div class="help-icon">
            <i class="pi pi-comments"></i>
        </div>

        <div class="help-content">

            <h3>Contact Support</h3>

            <p>
                Need help? Reach out to our support team for assistance.
            </p>

        </div>

        <button
            pButton
            type="button"
            icon="pi pi-arrow-right"
            severity="secondary"
            variant="text">
        </button>

    </div>

    <div class="help-item">

        <div class="help-icon">
            <i class="pi pi-question-circle"></i>
        </div>

        <div class="help-content">

            <h3>Frequently Asked Questions</h3>

            <p>
                Browse answers to the most common questions about CloudVault.
            </p>

        </div>

        <button
            pButton
            type="button"
            icon="pi pi-arrow-right"
            severity="secondary"
            variant="text">
        </button>

    </div>

</div>