<p-card styleClass="upload-card">

    <div class="success-box" *ngIf="showSuccessMessage">

        <i class="pi pi-check-circle success-icon-big"></i>

        <h2>

            {{uploadedCount}}

            {{uploadedCount === 1 ? 'Image' : 'Images'}}

            Uploaded Successfully

        </h2>

    </div>

    <!-- Upload Area -->
    <div class="upload-zone" *ngIf="uploadItems.length === 0 && !showSuccessMessage" [class.dragging]="isDragging"
        (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">

        <i class="pi pi-cloud-upload upload-icon"></i>

        <h2 *ngIf="!isDragging">
            Drag & Drop Images Here
        </h2>

        <h2 *ngIf="isDragging">
            Drop Images Here
        </h2>

        <p>
            JPG • PNG • JPEG • WEBP
        </p>

        <input #fileInput hidden multiple type="file" accept="image/*" (change)="onFileSelected($event)">

        <p-button label="Browse Files" icon="pi pi-folder-open" (onClick)="fileInput.click()">
        </p-button>

    </div>

    <!-- Upload Queue -->

    <div class="queue" *ngIf="uploadItems.length > 0">
<div class="queue-header">

    <h3>

        Upload Queue

    </h3>

    <span>

        {{uploadItems.length}}

        {{uploadItems.length === 1 ? 'File' : 'Files'}}

    </span>

</div>

        <div class="upload-item" *ngFor="let item of uploadItems">

            <img [src]="item.preview" class="preview-image">

            <div class="details">

                <h4>
                    {{item.file.name}}
                </h4>

                <small>

                    {{formatBytes(item.file.size)}}

                </small>

               <div *ngIf="item.uploading">

    <p-progressBar
        [value]="item.progress">
    </p-progressBar>

    <div class="upload-info">

        <span>{{item.progress}}%</span>

        <span>

            {{item.uploadedSize}}

            /

            {{item.totalSize}}

        </span>

    </div>

    <div class="upload-info">

        <span>{{item.remainingTime}}</span>

        <span>{{item.uploadSpeed}}</span>

    </div>

</div>

                <div class="upload-info">

                    <span>

                        {{item.progress}}%

                    </span>

                    <span>

                        {{item.uploadedSize}}

                        /

                        {{item.totalSize}}

                    </span>

                </div>

                <div class="upload-info">

                    <span>

                        {{item.remainingTime}}

                    </span>

                    <span>

                        {{item.uploadSpeed}}

                    </span>

                </div>

            </div>

            <div class="actions">

                <span *ngIf="item.uploading" class="status uploading">

                    Uploading...

                </span>

                <span *ngIf="item.uploaded" class="status uploaded">

                    Uploaded

                </span>

                <span *ngIf="item.failed" class="status failed">

                    Failed

                </span>

                <p-button *ngIf="item.failed" label="Retry" icon="pi pi-refresh" severity="warn"
                    (onClick)="retry(item)">
                </p-button>

                <p-button *ngIf="!item.uploading && !item.uploaded && !item.failed" icon="pi pi-times" severity="danger"
                    outlined="true" (onClick)="remove(item)">
                </p-button>

            </div>
        </div>

        <div class="queue-buttons">

            <p-button *ngIf="!isUploading()" label="Upload All" icon="pi pi-upload" (onClick)="upload()">
            </p-button>

            <p-button label="Clear" icon="pi pi-trash" severity="secondary" outlined="true"
                (onClick)="cancelSelection()">
            </p-button>

        </div>

    </div>

</p-card>