<div class="login-page">

    <div class="bg-orbs">
        <span class="orb orb-1"></span>
        <span class="orb orb-2"></span>
        <span class="orb orb-3"></span>
    </div>

    <div class="left-panel">

        <div class="brand">

            <div class="logo">
                <i class="pi pi-cloud"></i>
            </div>

            <h1>CloudVault</h1>

            <span class="tagline">
                Secure Password Reset
            </span>

        </div>

        <div class="features">

            <div class="feature">

                <i class="pi pi-lock"></i>

                <div>

                    <h4>Strong Password Protection</h4>

                    <p>Create a strong password to keep your account secure.</p>

                </div>

            </div>

            <div class="feature">

                <i class="pi pi-shield"></i>

                <div>

                    <h4>One-Time Secure Link</h4>

                    <p>This password reset link can only be used once.</p>

                </div>

            </div>

            <div class="feature">

                <i class="pi pi-cloud"></i>

                <div>

                    <h4>End-to-End Security</h4>

                    <p>Your new password is securely encrypted before it's stored.</p>

                </div>

            </div>

        </div>

    </div>

    <div class="right-panel">

        <p-card class="login-card">

            <div class="header">

                <h2>Create a new password</h2>

                <p>
                    Choose a strong password that you haven't used before.
                </p>

            </div>

           @if (!successMessage) {

<form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()">

    <!-- New Password -->
    <div class="field">

        <p-floatlabel>

            <p-password
                inputId="password"
                formControlName="password"
                [toggleMask]="true"
                [feedback]="false"
                styleClass="w-full">
            </p-password>

            <label for="password">
                New Password
            </label>

        </p-floatlabel>

        @if (resetPasswordForm.get('password')?.touched &&
        resetPasswordForm.get('password')?.invalid) {

        <small class="error">

            @if (resetPasswordForm.get('password')?.errors?.['required']) {
            Password is required.
            }

            @if (resetPasswordForm.get('password')?.errors?.['minlength']) {
            Minimum 8 characters required.
            }

        </small>

        }

    </div>

    <div class="password-checklist"  [class.complete]="isPasswordStrong">

    <h5>Password Requirements</h5>

    <div class="rule"
        [class.valid]="passwordRules.minLength">

        <i
    class="pi"
    [class.pi-circle]="!hasStartedTyping"
    [class.pi-check-circle]="passwordRules.minLength"
    [class.pi-times-circle]="hasStartedTyping && !passwordRules.minLength">
</i>

        <span>At least 8 characters</span>

    </div>

    <div class="rule"
        [class.valid]="passwordRules.uppercase">

        <i
    class="pi"
    [class.pi-circle]="!hasStartedTyping"
    [class.pi-check-circle]="passwordRules.uppercase"
    [class.pi-times-circle]="hasStartedTyping && !passwordRules.uppercase">
</i>

        <span>One uppercase letter</span>

    </div>

    <div class="rule"
        [class.valid]="passwordRules.lowercase">

        <i
            class="pi"
            [class.pi-circle]="!hasStartedTyping"
            [class.pi-check-circle]="passwordRules.lowercase"
            [class.pi-times-circle]="hasStartedTyping && !passwordRules.lowercase">
        </i>

        <span>One lowercase letter</span>

    </div>

    <div class="rule"
        [class.valid]="passwordRules.number">

        <i
            class="pi"
            [class.pi-circle]="!hasStartedTyping"
            [class.pi-check-circle]="passwordRules.number"
            [class.pi-times-circle]="hasStartedTyping && !passwordRules.number">
        </i>

        <span>One number</span>

    </div>

    <div class="rule"
        [class.valid]="passwordRules.special">

        <i
            class="pi"
            [class.pi-circle]="!hasStartedTyping"
            [class.pi-check-circle]="passwordRules.special"
            [class.pi-times-circle]="hasStartedTyping && !passwordRules.special">
        </i>

        <span>One special character</span>

    </div>

</div>

    <!-- Confirm Password -->
    <div class="field">

        <p-floatlabel>

            <p-password
                inputId="confirmPassword"
                formControlName="confirmPassword"
                [toggleMask]="true"
                [feedback]="false"
                styleClass="w-full">
            </p-password>

            <label for="confirmPassword">
                Confirm Password
            </label>

        </p-floatlabel>

        @if (resetPasswordForm.hasError('passwordMismatch')
        && resetPasswordForm.get('confirmPassword')?.touched) {

        <small class="error">

            Passwords do not match.

        </small>

        }

    </div>

<button
    pButton
    type="submit"
    class="w-full login-btn"
    [disabled]="resetPasswordForm.invalid || !isPasswordStrong">

    Reset Password

</button>

</form>

} @else {

<div class="success-box">

    <div class="success-circle">

        <i class="pi pi-check"></i>

    </div>

    <h2>Password Updated</h2>

    <p class="success-description">

        Your CloudVault password has been changed successfully.

    </p>

    <p class="small-text">

        Your account is now protected with your new password.

    </p>

    <button
        pButton
        class="w-full login-btn"
        (click)="goToLogin()">

        Continue to Login

    </button>

</div>

}

        </p-card>

    </div>

    @if (loading) {

<div class="loading-overlay">

    <div class="cloud-loader">

        <div class="icon-wrap">

            <div class="pulse-ring"></div>

            <div class="cloud-circle">

                <i class="pi pi-lock"></i>

            </div>

        </div>

        <h2>Updating your password</h2>

        <p>

            Applying security changes...

        </p>

        <span>

            Your account will be secured in just a moment.

        </span>

    </div>

</div>

}

</div>