<!-- <div class="container">

    <p-toast></p-toast>

    <p-confirmDialog></p-confirmDialog>

    <div class="stats">

        <app-stat-card title="Images" [value]="stats?.totalImages || 0" icon="pi pi-images" color="#2563EB">

        </app-stat-card>

        <app-stat-card title="Storage" [value]="formatBytes(stats?.totalStorage || 0)" icon="pi pi-database"
            color="#8B5CF6">

        </app-stat-card>

        <app-stat-card title="Version" value="v1.0.4" icon="pi pi-github" color="#F59E0B">

        </app-stat-card>

        <app-stat-card title="AWS" value="Connected" icon="pi pi-cloud" color="#10B981">

        </app-stat-card>

    </div>

    <app-upload-area (uploadCompleted)="refreshDashboard()">
    </app-upload-area>

    <div class="gallery-toolbar">

        <app-search-bar (searchChange)="searchImages($event)">
        </app-search-bar>

        <app-sort-dropdown (sortChange)="onSortChange($event)">
        </app-sort-dropdown>

    </div>
    <app-gallery [images]="images" (delete)="deleteImage($event)" (download)="downloadImage($event)">
    </app-gallery>

    <div class="gallery-info">

    Showing

    {{ page * size + 1 }}

    -

    {{ endImage }}

    of

    {{ totalElements }}

    Images

</div>
    <div class="pagination">

    <button

        class="page-btn"

        (click)="previousPage()"

        [disabled]="page === 0">

        Previous

    </button>

    <button

        class="page-number"

        *ngFor="let p of pageNumbers"

        [class.active]="p === page"

        (click)="goToPage(p)">

        {{ p + 1 }}

    </button>

    <button

        class="page-btn"

        (click)="nextPage()"

        [disabled]="page === totalPages - 1">

        Next

    </button>

</div>

</div> -->