::ng-deep .stat-card {

    background: #FFFFFF !important;

    border: 1px solid #E9EAF4 !important;

    border-radius: 18px !important;

    box-shadow: 0 1px 2px rgba(23, 26, 43, .04), 0 8px 24px rgba(23, 26, 43, .06);

    transition: .3s;

}

::ng-deep .stat-card:hover {

    transform: translateY(-6px);

    box-shadow: 0 15px 35px rgba(79, 110, 247, .18);

}

.card-content {

    display: flex;

    align-items: center;

    gap: 20px;

}

.icon {

    width: 60px;

    height: 60px;

    border-radius: 14px;

    display: flex;

    justify-content: center;

    align-items: center;

    color: white;

    font-size: 24px;

}

.title {

    color: #767C93;

    font-size: 15px;

}

.value {

    color: #171A2B;

    font-size: 26px;

    font-weight: 700;

    margin-top: 5px;

}